*~
*.o
*.orig

.config
AA_Version.h
Makefile
cat_fonts
fonts.bin
jfonts.bin
read_fonts
rasterise
get_grammar
diff.out
make.out
.gdb_history

macro/config

src/*.a
src/control.[ch]
src/control.tab.[ch]
src/makeyyl
src/makeyyl.dSYM
src/options.h
src/sm
src/yylex.c
src/.DS_Store

info/notes.html
info/sm
info/sm-1
info/sm-2
info/*.html

swigInterfaces/_smLib.so
swigInterfaces/sm.pyc
swigInterfaces/smLib.py
swigInterfaces/smLib.pyc
swigInterfaces/smLib_wrap.c
